@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.is-active {
  font-weight: bold;
}

.brand {
  text-align: center;
  padding: 1rem 3rem;
  background-color: $background-beige;
  min-height: 5rem;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__nav {
    margin: 1rem;
  }

  &__nav-list {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    height: 2rem;
  }

  &__nav-item {
    font-size: 20px;
    color: $primary-black;
  }

  &__nav-item:hover {
    border-bottom: 3px solid $secondary-slate;
    transition: all 0.3s;
  }

  &__bold {
    color: $primary-black;
  }

  &__site-logo {
    width: 4rem;
  }

  &__item-title {
    font-size: 3rem;
    letter-spacing: -1px;
    font-style: italic;
    font-weight: 600;
    color: $primary-black;
  }
}
