@use "../../styles/partials/_mixins.scss" as *;

.fc .fc-toolbar-title {
  font-size: 0.95rem !important;
  padding: 0.5rem;
  margin: 0;

  @include tablet {
    font-size: 1.75rem !important;
  }
}

.fc .fc-button:disabled {
  display: none;
}

.fc .fc-button-group {
  width: 50%;
}

.fc .fc-button {
  padding: 6px 3px;
  //   color: ;

  @include tablet {
    padding: 15px 15px;
  }
}
