@font-face {
  font-family: "Heebo";
  src: url(../../assets/fonts/Heebo-Light.ttf) format("truetype"),
    url(../../assets/fonts/Heebo-Light.woff) format("woff"),
    url(../../assets/fonts/Heebo-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url(../../assets/fonts/Heebo-Regular.ttf) format("truetype"),
    url(../../assets/fonts/Heebo-Regular.woff) format("woff"),
    url(../../assets/fonts/Heebo-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url(../../assets/fonts/Heebo-SemiBold.ttf) format("truetype"),
    url(../../assets/fonts/Heebo-SemiBold.woff) format("woff"),
    url(../../assets/fonts/Heebo-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url(../../assets/fonts/Heebo-Bold.ttf) format("truetype"),
    url(../../assets/fonts/Heebo-Bold.woff) format("woff"),
    url(../../assets/fonts/Heebo-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
