// Primary Colours
$primary-black: #000000;
$primary-white: #ffffff;
$primary-honeydew: #f0fff0;
$background-beige: #f4e1be;

// Secondary Colours
$secondary-navy: #13182c;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$secondary-graphite: #232940;
$secondary-lightgrey: #f7f8f9;
$secondary-graphite: #323232;

// Supporting Colours
$supporting-lightblue: #9bc8e8;
$supporting-green: #158463;
$supporting-red: #c94515;
